{
        debug
}
:80 {
        root * /var/www/app
        try_files {path} /index.html
        file_server {
                index index.html
        }

        encode gzip

        log {
                format console
                level INFO
                output stdout
        }
}
