@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body,
html {
  height: 100%;
  display: grid;
}
span {
  /* thing to center */
  margin: auto;
}

.messages-container {
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
}

.uncopy {
  user-select: none;
}

.hidden-text {
  font-size: 0;
}

.drop-zone {
  @apply flex
  items-center
  place-content-center
  rounded-lg 
  border
  shadow-xl
  bg-gradient-to-t 
  from-indigo-200 
  to-violet-400;
}

.drop-zone-hover {
  @apply flex
  items-center
  place-content-center
  rounded-lg 
  border
  shadow-xl
  bg-gradient-to-t 
  from-green-100 
  to-green-400;
}

.message-blue {
  background-color: rgb(207 250 254);
  box-shadow: 0 0 #0000;
}

.message-indigo {
  background-color: rgb(224 231 255);
  box-shadow: 0 0 #0000;
}

.message-violet {
  background-color: rgb(237 233 254);
  box-shadow: 0 0 #0000;
}

.message-purple {
  background-color: rgb(243 232 255);
  box-shadow: 0 0 #0000;
}

.message-fuchsia {
  background-color: rgb(250 232 255);
  box-shadow: 0 0 #0000;
}

.message-pink {
  background-color: rgb(252 231 243);
  box-shadow: 0 0 #0000;
}

.message-rose {
  background-color: rgb(255 228 230);
  box-shadow: 0 0 #0000;
}
